.text-center{
    color: #eff2f4;
}

.body{
    background-image: url("https://img.freepik.com/vecteurs-libre/fond-courbe-bleue_53876-113112.jpg?w=2000");
    width: 1320px;
}
.list{
    margin:50px;
}
